.topProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 30rem;
}

.currentCourses {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 30rem;
}

.topDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 17, 255, 0.849) 0%, rgb(51, 102, 160) 50%, rgba(10, 122, 156, 0.568) 100%);
  height: 10rem;
  margin-top: 2%;
}

.imageSection{
  display: flex;
  padding: 50%;
  background: linear-gradient(180deg, rgba(4, 238, 43, 0.849) 0%, rgb(51, 102, 160) 50%, rgba(231, 95, 4, 0.568) 100%);
}