.footerStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgb(253, 204, 204);
    text-align: center;
    position: absolute;
}