.topPanel{
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    margin-top: 7vh;

}

h1{
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sectionWithBorder{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 50%;
    text-align: center;
    background-color: #f2f2f2;
}

.editUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin:auto;
    margin-bottom: 5vh;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1%;
}
