.topDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(0, 109, 172) 0%, rgb(221, 59, 59) 50%, rgba(216, 18, 18, 0.596) 100%);
    height: 20rem;
}

h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: black;
    font-size: 2rem;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 1%;
}

.centerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    height: 80vh;
    background-color: rgb(255, 244, 244);
}

.cardCategories{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.courseCategory{
    opacity: 1;
    transition: 0.3s;
}
.courseCategory:hover{
    opacity: 0.6;
    transition: 0.3s;
}
