.topDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(216, 18, 18, 0.596) 0%, rgb(51, 102, 160) 50%, rgba(10, 122, 156, 0.568) 100%);
    height: 20rem;
    margin-bottom: 5%;
}